.cooperation {
	background: linear-gradient(179.87deg, #ebdec7 19.36%, #52442e 72.7%);
	// .cooperation_txt
	&_txt {
		max-width: 708px;
		margin: 23px auto 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
		@include mw(L) {
			max-width: 574px;
			padding: 0 40px;
			font-size: 16px;
			text-align: left;
		}
		@include mw(XS) {
			padding: 0 16px;
		}
	}
	// .cooperation_pics
	&_pics {
		@include d_f(flex, center, center);
		flex-wrap: wrap;
		max-width: 1374px;
		margin: 77px auto 0;
		@media screen and (max-width: 1404px) {
			max-width: 1147px;
		}
		@include mw(L) {
			& {
				// max-width: 574px;
				align-items: flex-start;
				max-width: 380px;
				margin-top: 36px;
			}
		}
	}
	// .cooperation_pic
	&_pic {
		@include d_f(flex, center, center);
		width: 100%;
		&._family,
		&._bonnyread,
		&._jgao,
		&._murfeeli,
		&._hj {
			height: 64px;
			margin-bottom: 41px;
		}
		&._cheungleungkee,
		&._yourkind,
		&._bggoldnatural,
		&._ecpay,
		&._newepay {
			height: 77px;
			margin-bottom: 19px;
		}
		&._family {
			max-width: 207px;
			// height: 64px;
			// margin-bottom: 67px;
		}
		&._bonnyread {
			max-width: 199px;
			// height: 64px;
			margin-left: 92px;
			// margin-bottom: 50px;
			img {
				max-width: 189px;
			}
		}
		&._jgao {
			max-width: 197px;
			// height: 64px;
			margin-left: 92px;
			// margin-bottom: 51px;
		}
		&._murfeeli {
			max-width: 255px;
			// height: 64px;
			margin-left: 62px;
			// margin-bottom: 48px;
			img {
				max-width: 178px;
			}
		}
		&._hj {
			max-width: 193px;
			// height: 64px;
			margin-left: 50px;
			// margin-bottom: 46px;
		}
		//
		&._cheungleungkee {
			max-width: 207px;
			// height: 77px;
			// margin-bottom: 61px;
			img {
				max-width: 203px;
			}
		}
		&._yourkind {
			max-width: 199px;
			// height: 77px;
			margin-left: 92px;
			// margin-bottom: 52px;
			img {
				max-width: 179px;
			}
		}
		&._bggoldnatural {
			max-width: 197px;
			// height: 77px;
			margin-left: 92px;
			// margin-bottom: 57px;
			img {
				max-width: 160px;
			}
		}
		&._ecpay {
			max-width: 255px;
			// height: 77px;
			margin-left: 62px;
			// margin-bottom: 64px;
			img {
				max-width: 150px;
			}
		}
		&._newepay {
			max-width: 193px;
			// height: 77px;
			margin-left: 50px;
			// margin-bottom: 70px;
			img {
				max-width: 134px;
			}
		}
		//
		&._ezship,
		&._opay,
		&._opay,
		&._opay,
		&._opay {
			height: 126px;
		}
		&._ezship {
			max-width: 207px;
			// height: 65px;
			img {
				max-width: 197px;
			}
		}
		&._opay {
			max-width: 199px;
			// height: 65px;
			margin-left: 92px;
			img {
				max-width: 141px;
			}
		}
		&._smilepay {
			max-width: 197px;
			// height: 65px;
			margin-left: 92px;
			img {
				max-width: 141px;
			}
		}
		&._cetustek {
			max-width: 255px;
			// height: 65px;
			margin-left: 62px;
		}
		&._ezpay {
			max-width: 193px;
			// height: 65px;
			margin-left: 50px;
		}
		// &._family {
		// 	max-width: 207px;
		// 	height: 64px;
		// 	margin-bottom: 67px;
		// }
		// &._bonnyread {
		// 	max-width: 199px;
		// 	height: 64px;
		// 	margin-left: 93px;
		// 	margin-bottom: 50px;
		// }
		// &._jgao {
		// 	max-width: 197px;
		// 	height: 64px;
		// 	margin-left: 93px;
		// 	margin-bottom: 51px;
		// }
		// &._murfeeli {
		// 	max-width: 178px;
		// 	height: 64px;
		// 	margin-left: 93px;
		// 	margin-bottom: 48px;
		// }
		// &._hj {
		// 	max-width: 193px;
		// 	height: 64px;
		// 	margin-left: 93px;
		// 	margin-bottom: 46px;
		// }
		// //
		// &._cheungleungkee {
		// 	max-width: 203px;
		// 	height: 77px;
		// 	margin-bottom: 61px;
		// }
		// &._yourkind {
		// 	max-width: 179px;
		// 	height: 77px;
		// 	margin-left: 106px;
		// 	margin-bottom: 52px;
		// }
		// &._bggoldnatural {
		// 	max-width: 160px;
		// 	height: 77px;
		// 	margin-left: 110px;
		// 	margin-bottom: 57px;
		// }
		// &._ecpay {
		// 	max-width: 154px;
		// 	height: 77px;
		// 	margin-left: 137px;
		// 	margin-bottom: 64px;
		// 	img{
		// 		max-width: 150px;
		// 	}
		// }
		// &._newepay {
		// 	max-width: 190px;
		// 	height: 77px;
		// 	margin-left: 105px;
		// 	margin-bottom: 70px;
		// 	img{
		// 		max-width: 134px;
		// 	}
		// }
		// //
		// &._ezship {
		// 	max-width: 203px;
		// 	height: 65px;
		// 	img{
		// 		max-width: 197px;
		// 	}
		// }
		// &._opay {
		// 	max-width: 141px;
		// 	height: 65px;
		// 	margin-left: 127px;
		// }
		// &._smilepay {
		// 	max-width: 141px;
		// 	height: 65px;
		// 	margin-left: 144px;
		// }
		// &._cetustek {
		// 	max-width: 255px;
		// 	height: 65px;
		// 	margin-left: 86px;
		// }
		// &._ezpay {
		// 	max-width: 190px;
		// 	height: 65px;
		// 	margin-left: 58px;
		// }
		@media screen and (max-width: 1404px) {
			&._family,
			&._cheungleungkee,
			&._ezship {
				max-width: 173px;
			}
			&._bonnyread,
			&._yourkind,
			&._opay {
				max-width: 174px;
				margin-left: 30px;
			}

			&._jgao,
			&._smilepay,
			&._bggoldnatural {
				max-width: 172px;
				margin-left: 30px;
			}
			&._murfeeli,
			&._ecpay,
			&._cetustek {
				max-width: 170px;
				margin-left: 30px;
			}
			&._hj,
			&._newepay,
			&._ezpay {
				max-width: 168px;
				margin-left: 30px;
			}
		}
		// @media screen and (max-width: 1385px) {
		@include mw(L) {
			&._family,
			&._bonnyread,
			&._jgao,
			&._murfeeli,
			&._hj,
			&._cheungleungkee,
			&._yourkind,
			&._bggoldnatural,
			&._ecpay,
			&._newepay,
			&._ezship,
			&._opay,
			&._smilepay,
			&._cetustek,
			&._ezpay {
				img {
					max-width: auto;
				}
			}
			&._family {
				max-width: 90px;
				height: 28px;
				margin-bottom: 22px;
			}
			&._bonnyread {
				max-width: 112px;
				height: 28px;
				margin-left: 22px;
				margin-bottom: 17px;
				img {
					max-width: 90px;
				}
			}
			&._jgao {
				max-width: 90px;
				height: 28px;
				margin-left: 29px;
				margin-bottom: 24px;
			}
			&._murfeeli {
				max-width: 90px;
				height: 29px;
				margin-left: 0;
				margin-bottom: 20px;
			}
			&._hj {
				max-width: 112px;
				height: 29px;
				margin-left: 22px;
				margin-bottom: 20px;
				img {
					max-width: 90px;
				}
			}
			//
			&._cheungleungkee {
				max-width: 90px;
				height: 29px;
				margin-left: 29px;
				margin-bottom: 35px;
			}
			&._yourkind {
				max-width: 90px;
				height: 38px;
				margin-left: 0px;
				margin-bottom: 23px;
			}
			&._bggoldnatural {
				max-width: 112px;
				height: 38px;
				margin-left: 22px;
				margin-bottom: 24px;
				img {
					max-width: 90px;
				}
			}
			&._ecpay {
				max-width: 90px;
				height: 38px;
				margin-left: 29px;
				margin-bottom: 24px;
				img {
					max-width: 77px;
				}
			}
			&._newepay {
				max-width: 90px;
				height: 33px;
				margin-left: 0px;
				margin-bottom: 23px;
				img {
					max-width: 65px;
				}
			}
			//
			&._ezship {
				max-width: 112px;
				height: 33px;
				margin-left: 22px;
				margin-bottom: 33px;
				img {
					max-width: 90px;
				}
			}
			&._opay {
				max-width: 90px;
				height: 33px;
				margin-left: 29px;
				margin-bottom: 23px;
				img {
					max-width: 75px;
				}
			}
			&._smilepay {
				max-width: 90px;
				height: 36px;
				margin-left: 0px;
				img {
					max-width: 78px;
				}
			}
			&._cetustek {
				max-width: 112px;
				height: 36px;
				margin-left: 22px;
			}
			&._ezpay {
				max-width: 90px;
				height: 36px;
				margin-left: 29px;
				img {
					max-width: 83px;
				}
			}
		}
	}
	// .cooperation_contact
	&_contact {
		@include d_f(flex, center);
		flex-wrap: wrap;
		// gap: 24px;
		max-width: 1924px;
		margin-top: 77px;
		padding: 73px 150px 149px;
		background-color: #f9f9f9;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		@include mw(XL) {
			padding: 73px 70px 149px;
		}
		@include mw(L) {
			margin-top: 36px;
			padding: 29px 16px 68px;
		}
		// .cooperation_contact_detail{
		&_detail {
			@include d_f(flex, center, center);
			flex-direction: column;
			width: calc(50% - 12px);
			max-width: 485px;
			margin-bottom: 24px;
			padding: 37px 0;
			border: 2px solid #e4e4e4;
			box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.02);
			border-radius: 16px;
			&._shareco,
			&._kp,
			&._full {
				background-color: #f3f3f3;
			}

			&._shareco,
			&._laopengyu,
			&._full {
				margin-left: 24px;
				@include mw(L) {
					margin-left: 12px;
				}
			}
			@include mw(L) {
				width: calc(50% - 6px);
				min-height: 149px;
				margin-bottom: 12px;
				padding: 5px;
			}
		}
		// .cooperation_contact_title
		&_title {
			width: 100%;
			font-style: normal;
			font-weight: 600;
			font-size: 26px;
			line-height: 35px;
			text-align: center;
			@include mw(L) {
				font-size: 18px;
				line-height: 25px;
			}
		}
		// .cooperation_contact_mail
		&_mail {
			position: relative;
			@include d_f(flex, center);
			margin-top: 12px;
			@extend %hand;
			&::before {
				content: attr(data-mail);
				position: absolute;
				top: calc(100% + 5px);
				margin: auto;
				padding: 5px 10px;
				font-size: 14px;
				font-weight: 400;
				background-color: #ebdec780;
				border-radius: 100px;
				line-height: 1;
				opacity: 0;
				@extend %transition;
			}
			@at-root &.on::before {
				opacity: 1;
			}
			@include mw(L) {
				text-align: center;
			}
		}
		// .cooperation_contact_group
		&_group {
			@include d_f(flex);
			flex-wrap: wrap;
			width: 100%;
			margin-bottom: 24px;
			padding: 37px 80px;
			background: #ffffff;
			border: 2px solid #e4e4e4;
			box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.02);
			border-radius: 16px;
			@include mw(L) {
				padding: 37px 20px;
			}
		}
		// .cooperation_contact_item
		&_item {
			position: relative;
			@include d_f(flex, center, center);
			flex-direction: column;
			width: 50%;
			margin-top: 55px;
			padding-bottom: 50px;
			border-bottom: 0.75px solid #929292;
			@include mw(L) {
				margin-top: 35px;
				padding-bottom: 26px;
			}
			&:nth-child(odd)::before {
				content: "";
				position: absolute;
				left: 0;
				display: block;
				width: 0.75px;
				height: 102px;
				border-left: 0.75px solid #929292;
				@include mw(L) {
					top: -10px;
					height: 73px;
				}
			}
			&._full {
				width: 100%;
				padding-bottom: 0;
				border: none;
			}
		}
		// .cooperation_contact_name
		&_name {
			padding: 3px 20px;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 33px;
			background: #ebdec7;
			border-radius: 100px;
			@include mw(L) {
				padding: 6.5px 8px;
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
}
