.rule {
	padding-top: 105px;
	padding-bottom: 193px;
	background-color: #f9f9f9;
	@include mw(L) {
		padding-top: 38px;
		padding-bottom: 68px;
	}
	// .rule_txt
	&_txt {
		&._bg {
			@include d_f(flex, center, center);
			flex-direction: column;
			max-width: 1140px;
			margin: 53px auto 0;
			padding: 75px 10px;
			background-color: rgba(235, 222, 199, 0.5);
			@include mw(L) {
				max-width: 576px;
				margin-top: 28px;
				padding: 25px 10px;
			}
			p {
				max-width: 814px;
				text-align: center;
			}
		}
	}

	// .rule_title
	&_title {
		margin-top: 146px;
		color: #887766;
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 38px;
		text-align: center;
		@include minmw(L) {
			.rule_group + & {
				margin-top: 248px;
			}
		}

		@include mw(L) {
			margin-top: 56px;
			font-size: 18px;
			line-height: 25px;
		}
	}
	// .rule_group
	&_group {
		@include d_f(flex, center);
		margin-top: 56px;
		@include mw(L) {
			max-width: 576px;
			margin: 25px auto 0;
			&._logo {
				flex-direction: column;
			}
		}
	}
	// .rule_item
	&_item {
		width: 100%;
		max-width: 614px;
		&._pic::before {
			content: attr(data-txt);
			display: block;
			width: 100%;
			margin-bottom: 43px;
			padding: 8.5px 0;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
			text-align: center;
			color: #8b8b8b;
			background: rgba(235, 222, 199, 0.5);
			@include mw(L) {
				margin-bottom: 20px;
				padding: 2px 0;
				font-size: 14px;
				line-height: 19px;
			}
		}

		&._color {
			@include d_f(flex, center, center);
			height: 203px;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
			border-radius: 16px;
			@include mw(L) {
				flex-direction: column;
				max-width: 159px;
				height: 123px;
				font-size: 14px;
				line-height: 19px;
			}
			&::before {
				content: attr(data-name);
				margin-right: 62px;
				@include mw(L) {
					margin-bottom: 12px;
					margin-right: 0;
				}
			}
			&::after {
				content: attr(data-cmyk);
				margin-left: 62px;
				@include mw(L) {
					margin-top: 12px;
					margin-left: 0;
				}
			}
			&:nth-child(1) {
				background: #000000;
				color: #fff;
			}
			&:nth-child(2) {
				background: #ffffff;
				color: #000;
				border: 1px solid rgba(51, 51, 51, 0.5);
			}
		}
		& + & {
			@include minmw(L) {
				margin-left: 50px;
			}
			@include mw(L) {
				&._pic {
					margin-top: 56px;
				}
				&._color {
					margin-left: 11px;
				}
			}
		}
	}
	// .rule_area
	&_area {
		max-width: 1248px;
		margin-top: 56px;
		@include mw(L) {
			max-width: 576px;
			margin: 56px auto 0;
		}
	}
}
